* {
  box-sizing: border-box;
}

.page.title {
  font-size: 4em;
}

.url.input {
  font-size: 2em;
  text-align: center;
  width: 50vw;
}

.cta.button {
  font-size: 2em;
  padding: 10px;
  margin: 5px;
}

.form.field {
  margin: 10px;
}
